#todo_form {
    display: flex;
    gap: .25rem;
}

#todo_input, #todo_btn {
    border: none;
    padding: 1rem;
}

#todo_input {

}

#todo_btn {
    background-color: var(--unbleached-silk);
    cursor: pointer;
}