:root {
  --old-lavender: #685F74;
  --unbleached-silk: #F5D0C5;
  --baby-blue-eyes: #A3D5FF;
  --aquamarine: #A9FFCB;
  --shiny-shamrock: #519872;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--baby-blue-eyes);
  display: flex;
  justify-content: center;
  align-items: center;
}